* {
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
}

:root {
    --primary-color:rgba(147, 86, 220, 1);
    --secondary-color:rgba(255, 121, 218, 1);
    --tertiary-color:rgba(153, 226, 208, 1);
}

.header {
    text-align: center;
    box-shadow: 0 0 0.5rem rgba(0,0,0,.25);
    position: relative;
    padding: 16px;
    &__logo {
        width: 197px;
        height: 36px;
    }
}

.local {
    display: flex;
    gap: 17px;
    justify-content: center;
    padding: 16px;
    background-color:#EAEAEA;
    &__svg {
        font-size: 16px;
    }
    &__text {
        font-weight: 500;
    }
}

.explo {
    background-color: #F6F6F6;
    text-align: center;
    padding: 32px 32px 67px 32px; 
    &__title {
        padding-bottom: 10px;
    }
    &__text {
        font-weight: 300;
        font-size: 14px;
        padding-bottom: 30px;
    }
    &__btn {
        background: linear-gradient(193.33deg, var(--primary-color) -11.44%, var(--secondary-color) 123.93%);
        color : white;
        box-shadow: 0.25rem 0.25rem 10px rgba(0,0,0,.25);
        width: 218px;
        height: 50px;
        border-radius: 25px;
        padding: 13px 19px;
        text-decoration: none;
    }
    &__btn:hover {
        opacity: 0.9;
        box-shadow: 0.25rem 0.25rem 10px rgba(0,0,0,.4);
    }
}

.tuto {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__title {
        padding-left:5px;
    }
   padding:32px 16px;
   &__steps {
    padding: 20px;
    width: auto;
    list-style-type: none;
    counter-reset: OL;
   }
   &__step {
    width:300px;
    height: 20px;
    border-radius: 25px;
    margin-bottom: 20px;
    box-shadow: 0.25rem 0.25rem 0.5rem rgba(0,0,0,.125);
    font-weight: 500;
    background-color: #F6F6F6;
    text-align: left;
    padding-top: 28px;
    padding-bottom: 28px;
    padding-left:22px;
    &:before {
        content: counter(OL);
        counter-increment: OL;
        background: var(--primary-color);
        height: 24px;
        width: 24px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        position: absolute;
        margin-left: -35px;
    }
    & span {
        padding-left:27px;
    }
    & i {
        color: #7E7E7E;
    }
    &--modifier i {
        color: var(--primary-color);
    }
    }
}

@media (min-width: 1024px) {
    .tuto__steps {
        display: flex;
        gap: 25px;
    }
    .tuto__step {
        width: 285px;
    }
}

.restos {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F6F6F6;
    .container-restos h2 {
        padding:50px 25px 0 25px;
    }
    .cards {
         padding:20px 0 45px 0;
         gap: 17px;
    }
    .card {
        text-decoration: none;
        position: relative;
        color: black;
        &__img {
            width: 320px;
            height: 190px;
            object-fit: cover;
            margin: 0 25px;
            border-top-left-radius: 25px;
            border-top-right-radius: 25px;
        }
        &__span {
            background-color: #99e2d0;
            color: #1b6150;
            padding: 0.5rem;
            border-radius: 2px;
            position: absolute;
            left:250px;
            margin-top: 15px;
        }
        &__footer {
            width: 320px;
            display: flex;
            justify-content: space-between;
            margin-top:-4px;
            margin-left: 25px;
            margin-bottom: 15px;
            box-shadow: 0px 4px 15px 0px #0000001A;
            border-bottom-left-radius: 25px;
            border-bottom-right-radius: 25px;
        }
        &__footer i {
            margin-top:30px;
            padding-right: 13px;;
            font-size: 22px;
        }
        &__content  {
            display: flex;
            flex-direction: column;
            gap:7px;
            margin:20px 20px;
            & p {
                font-size: 17px;
                font-weight: 300;
            }
        }
     }

 }
 @media (min-width:1024px) {
    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
 }

 .footer {
    display: flex;
    flex-direction: column;
    gap: 17px;
    padding:22px 25px;
    background-color: #353535;
    color: white;
    &__title {
        font-family: 'Shrikhand';
    }
    &__list {
        display: flex;
        gap:10px;
        & i {
            font-size: 13px;
            width: 10px;
            margin-top: 4px;
        }
    }
    .container-full {
        display: flex;
        flex-direction: column;
        gap: 7px;
        list-style-type:none;
    }
 }
 @media (min-width:1024px) {
    .footer {
        display: flex;
        flex-direction: row-reverse;
        padding: 60px 25px 30px 10px;
        align-items: center;
        .container-full {
            display: flex;
            flex-direction: row;
            gap: 16px;;
        }
        .footer__title {
            margin-left: 50px;
        }
        .responsive-space {
            margin-right: 25px;
        }
    }
 }



  








