.explo {
    background-color: #F6F6F6;
    text-align: center;
    padding: 32px 32px 67px 32px; 
    &__title {
        padding-bottom: 10px;
    }
    &__text {
        font-weight: 300;
        font-size: 14px;
        padding-bottom: 30px;
    }
    &__btn {
        background: linear-gradient(193.33deg, var(--primary-color) -11.44%, var(--secondary-color) 123.93%);
        color : white;
        box-shadow: 0.25rem 0.25rem 10px rgba(0,0,0,.25);
        border-radius: 25px;
        padding: 13px 19px;
        text-decoration: none;
    }
    &__btn:hover {
        opacity: 0.9;
        box-shadow: 0.25rem 0.25rem 10px rgba(0,0,0,.4);
    }
}